In [1]:
!which python

/home/bachtung/miniconda3/envs/p4ds-env/bin/python

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv('diemthi2019_update.csv') 
df.head

<bound method NDFrame.head of         Unnamed: 0       SBD  Ngu Van  Toan Hoc Ma Ngoai Ngu  Ngoai Ngu  \
0                0  24008611     8.00       8.2           N1        7.6
1                1  51000032     6.17       8.6           N1        8.0
2                2  51000005     4.75       5.2          NaN        NaN
3                3  51000021     4.50       4.4          NaN        NaN
4                4  51000013     6.00       5.8           N1        4.4
...            ...       ...      ...       ...          ...        ...
811846      811846  26019104     4.75       4.4           N1        3.4
811847      811847  26019102     6.25       5.2           N1        4.4
811848      811848  26019099     5.00       2.8           N1        2.8
811849      811849  26019101     7.25       6.2           N1        4.0
811850      811850  26019097     5.75       6.4           N1        2.2

        Vat Ly  Hoa Hoc  Sinh Hoc  Lich Su  Dia Ly  GDCD
0          NaN      NaN       NaN     8.25    7.75  8.75
1         8.25      4.5      6.00      NaN     NaN   NaN
2          NaN      NaN       NaN     4.00    4.25  5.75
3          NaN      NaN       NaN     2.25    4.75  5.00
4          NaN      NaN       NaN     7.75    8.25  7.50
...        ...      ...       ...      ...     ...   ...
811846     NaN      NaN       NaN     4.50    5.75  8.50
811847    3.75      4.5      4.00      NaN     NaN   NaN
811848     NaN      NaN       NaN     5.50    5.50  8.00
811849     NaN      NaN       NaN     3.50    6.75  8.50
811850    5.25      4.5      3.75      NaN     NaN   NaN

[811851 rows x 12 columns]>